html {
  scroll-behavior: smooth;
}



.head {

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2A373F;
  box-shadow: 1px 3px 13px;
  z-index: 1000;

}


.head img {

  height: 60px;
}

.navButtons a {

  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  margin: 12px;
  font-size: 100%;
  color: #fff;
  text-decoration: none;
  transition: transform 0.5s;


}

#contato1 {

  border: 1px solid white;
  padding: 10px 20px;

}

.head a:hover {

  border: 0;
  transform: scale(1.2);

}


.imgTelaInicial {

  width: 100%;
  filter: blur(1px);

}

@media screen and (max-width:200px) {

  .imgTelaInicial {

    width: 50%;

  }

}

.logoTelaInicial {

  max-width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

}

.buttonWhatsFixo {

  border-radius: 100vh;
  border: 4px solid #fff;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  display: flex;
  position: fixed;
  z-index: 1000;
  transition: 0.3s;

}

.buttonWhatsFixo:hover {

  transform: scale(1.1);

}

.buttonWhatsFixo a {

  align-items: center;
  text-align: center;
  font-size: 250%;
  text-decoration: none;
  color: rgb(0, 255, 0);

}

.objetivos {

  display: flex;
  background-color: #fff;

}

.objetivos img {

  margin-bottom: 3%;
  text-align: center;
  width: 40%;

}

@media screen and (max-width:900px) {

  .objetivos {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

}

.boxObjetivos {

  background-color: #ffffff;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
  width: 30%;
  padding: 3%;

}

.servicos {

  background-color: #acacac;
  display: grid;
  place-items: center;
  gap: 2%;
  grid-template-areas:
    'texto1 texto1 imagem1 imagem1'
    'imagem2 imagem2 texto2 texto2'
    'texto3 texto3 imagem3 imagem3';

}

.servicos p {

  color: rgb(233, 233, 233);

}

#simplesLucro {

  grid-area: texto1;
  text-align: start;
  align-items: center;
  margin: 10%;

}

#simplesLucroimg {

  grid-area: imagem1;
  width: 90%;

}

#buttonAbrirEmpresa {

  background-color: transparent;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;


}


#servicoSolucoes {

  grid-area: texto2;
  justify-content: center;
  text-align: start;
  align-items: center;
  margin: 10%;

}

#servicosSolucoesIMG {

  grid-area: imagem2;
  width: 55%;

}

#servicoPrevidenciario {

  grid-area: texto3;
  justify-content: center;
  text-align: start;
  margin: 10%;


}

#servicoPrevidenciarioImg {

  grid-area: imagem3;
  width: 90%;

}

.aberturaEmpresas h3{

  margin: 5%;
  text-align: center;
  

}

.boxAberturaEmpresas {

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10%;
  margin-bottom: 10%;

}

.boxAberturaEmpresas p {

  font-size: 30px;
  color: #000000;
  margin-left: 5%;
  text-align: center;

}

#boxAberturaEmpresaItens {

  background-color: #2A373F;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
  padding: 5%;
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;

}

.containerEspecialidades {

  background-color: #2A373F;
  display: flex;
  flex-direction: column;
  gap: 1%;
  align-items: center;
  padding: 50px;


}


.containerCards {
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.tituloEspecialidas {

  flex-direction: c;

}

.boxEspecialidades {

  position: relative;
  display: inline-block;
  width: 24%;
  height: 20%;
  margin: 0.5%;
  transition: transform 0.9s;

}

#imgEspecialidades {

  width: 100%;
  display: block;

}

.textoHouver {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1.2s ease;
  font-size: 30px;
  text-align: center;
  padding: 3%;

}

.boxEspecialidades:hover .textoHouver {

  opacity: 1.1;


}

.boxEspecialidades:hover {

  transform: scale(1.03);

}

.contato h1 {

  margin: 5%;
  top: 7%;
  left: 50%;
  text-align: center;
  color: #000000;

}

.icones-contato {

  align-items: center;
  width: 27%;
  margin: 3%;
  transition: transform 0.5s;

}


.icones-contato:hover {

  transform: scale(1.05);

}

@media screen and (max-width:900px) {

  .icones-contato {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

}

.imgFundoSobreNos {

  display: flex;
  width: 100%;
  height: 750px;

}

.sobreNos {

  background-image: url('./img/fundoSobreNos.png');
  display: flex;
  justify-content: flex-end;

}

.sobreNos h1 {

  position: absolute;
  top: 215%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

}

.sobreNos p {

  position: absolute;
  font-size: large;
  margin-top: 25%;
  margin-left: 5%;
  margin-right: 45%;
  color: #fff;
  text-align: justify;

}

.imgContador {

  position: absolute;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 10%;

}

.rodape {

  background-color: rgb(184, 184, 184);

}

.containerRodape {

  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: small;
  gap: 2%;

}

@media screen and (max-width:600px) {

  .containerRodape {

    height: auto;
    display: flex;
    align-items: center;
    font-size: small;
    flex-direction: column;

  }

  #contatoRodape {

    text-align: center;
    margin-top: 3%;

  }


}

.boxRodape a {

  color: black;
  text-decoration: none;

}


#enderecoRodape {

  text-align: start;
  margin-left: 2.5%;

}

#informacoesRodape {

  text-align: center;
  margin-right: 5%
}

#contatoRodape {

  text-align: center;

}

#copyright {

  padding: 0.5%;
  font-size: smaller;
  margin-top: 3%;
  text-align: center;

}